*.dat
*.ipynb_checkpoints*
*__pycache__*
*.h5
*.txt
algorithms/models/*
hls4ml/notebooks/myproject_prj
algorithms/notebooks/plots/
hls4ml/notebooks/model_plots/
config.py
notebooks/*.pdf
paper_plots/plots_noise/*
venv
models
